:root {
    --bootstrap--color-theme-ultra-light: #d6faff;
    --bootstrap--color-theme-super-light: #93f1ff;
    --bootstrap--color-theme-light: #17a2b8;
    --bootstrap--color-theme-dark: #04535f;
}

.lead {
    text-align: center;    
}

.container {
    display: flex
}

.display-3 {
    text-align: center;
}

.grabbable-item {
    margin: 0 5px 5px 0; 
    padding: 6px 6px 6px 0; 
    font-size: 1.25em; 
    height: 70px; 
    display:flex;
}

.ui-state-highlight {
    min-height: 70px;
    margin: 0 5px 5px 5px; 
    padding: 6px; 
    height: 70px; 
    /* line-height: 1.2em;  */
}

.ui-state-default {
    border-top: thick double #32a1ce;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.content {
    border: none;
    overflow: auto;
    flex: 1;
    background-color: transparent;
}

.default-hide {
    display:none;
}

.save {
    background-color: var(--bootstrap--color-theme-light);
    flex-basis: 100px;
    content: 'save';
}

.save:hover {
    background-color: var(--bootstrap--color-theme-super-light);
}

.save:active {
    background-color: var(--bootstrap--color-theme-ultra-light);
    border: none;
}

::-webkit-scrollbar {
    overflow: hidden;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    overflow: hidden;
    border: 3px solid var(--bootstrap--color-theme-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    overflow: hidden;
    background: var(--bootstrap--color-theme-light);  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bootstrap--color-theme-super-light);  
}


/* make all placeholder italic*/
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

#drag-drop-containment {
    padding: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 1820px;
}

#container-hours {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1820px;
    padding: 10px;
    flex-basis: 100px;
}

#hours {
    border-top: thick double var(--bootstrap--color-theme-light);
    height: 100%;
    border-top-style: dotted;
}

#help-button {
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
}